includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src/
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#Called 'env' outside of the config directory#"
            path: src/Reporting/JsonRunReportWriter.php
            count: 1
        -
            identifier: trait.unused
            path: src/Testing/UsesParallelRunner.php
        -
            identifier: trait.unused
            path: src/TestingSupport/Api/AssertsApiResponses.php
        -
            identifier: trait.unused
            path: src/TestingSupport/Console/InteractsWithConsoleCommands.php
        -
            identifier: trait.unused
            path: src/TestingSupport/Performance/DetectsNPlusOneQueries.php
        -
            identifier: trait.unused
            path: src/TestingSupport/Performance/MeasuresMemoryUsage.php
        -
            identifier: trait.unused
            path: src/TestingSupport/Performance/OptimizesHashingForTests.php
        -
            identifier: trait.unused
            path: src/TestingSupport/Performance/PerformanceBenchmarking.php
